.header{
    width: 100%;
	height: 1500/@em;
	background-image: url("../img/header/bg-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    position: relative;
    top: 103/@em;
    box-shadow: 0px 3px 50px 0px rgba(0,0,0, 0.9);
    z-index: 1;
}
		
