section.about.section.decor#about-me
	.container-fluid
		h2.heading-2.line-title Обо мне
		.wrap-section
			.row
				.col-sm-12.col-md-5.col-lg-5 
					.about-foto
						img.foto(src="img/foto/foto.jpg", alt="foto")
				.col-sm-12.col-md-7.col-lg-7
					.about-text
						p
							| Приветствую Вас на моем сайте. Я Курило Денис, занимаюсь web-разработкой сайтов. Сайты адаптивный и кросбраузерные. Серьезно подхожу к поставленным задачам и внимательно отношусь к качеству разрабатываемого продукта. #[br] 
							.about-desc 
								| В своих работах я применяю: #[br]
								| Front-end: 
								span (HTML/Pug, CSS/LESS/SASS, BootStrap4, JS/JQuery/Ajax)#[br]
								|  Back-end: 
								span (PHP / MySQL)#[br]
								| Design
								span (PhotoShop, Adobe illustrator, CorelDRAW)#[br]
							.attention #[br] Обращайтесь, буду рад вам помочь!   