header.header#head
	include ../block/_navigation.pug
	.container
		h1.head-title 
			| Портфолио Web-Разработчика#[br]
			| Курило Дениса 
		p.subtitle 
			|Что вы получите - 
			span.hero-typed-text
		+button('Связаться со мной','#order')
	include ../block/_forms.pug 	
		
	
	
	


