section.working.section
	h2.heading-2.mt-40.mb-60 Сайт продаж Майнинг ферм
	.wrap-content
		.container-fluid
			.row
				.col-sm-12.col-lg-6
					.galeryWrok
						a(href="img/portfolio/big/f-4-1.jpg")(data-fancybox="gallery" data-caption="Сайт продаж Майнинг ферм" data-width="1200")
							img(src="img/portfolio/big/f-4-4.jpg", alt="")
						a(href="img/portfolio/big/f-4-2.jpg")(data-fancybox="gallery" data-caption="Сайт продаж Майнинг ферм")
						a(href="img/portfolio/big/f-4-3.jpg")(data-fancybox="gallery" data-caption="Сайт продаж Майнинг ферм")
						a(href="img/portfolio/big/f-4-4.jpg")(data-fancybox="gallery" data-caption="Сайт продаж Майнинг ферм")
				.col-sm-12.col-lg-6
					.descriptionWork
						div.descriptionWork__title Описание и выполненные работы:
						div.linkUrl URL: 
							a(href="#" target='_blank')
							ul.descriptionWork__list
								li Подготовка и написание ТЗ
								li Создание дизайна макета
								li Верстка HTML5 / CSS3 / bootstrap 4
								li Программирование JS / PHP
								

			.button-next
				a(href="index.html#portfolio")
					| Перейти к следующим работам
					i.fas.fa-long-arrow-alt-right

	
