section.working.section
	h2.heading-2.mt-40.mb-60 Мини Гостиница
	.wrap-content
		.container-fluid
			.row
				.col-sm-12.col-lg-6
					.galeryWrok
						a(href="img/portfolio/big/f-2.jpg")(data-fancybox="gallery" data-caption="Мини гостиница" data-width="1200")
							img(src="img/portfolio/big/f-2-1.jpg", alt="")
						a(href="img/portfolio/big/f-2-1.jpg")(data-fancybox="gallery" data-caption="Мини гостиница")
				.col-sm-12.col-lg-6
					.descriptionWork
						div.descriptionWork__title Описание и выполненные работы:
						div.linkUrl URL: 
							a(href="https://yaltatour.su" target='_blank') yaltatour.su
							ul.descriptionWork__list
								li Подготовка и написание ТЗ
								li Создание макета по PSD шаблону
								li Верстка HTML / CSS / bootstrap 3
								li Программирование JS / PHP
								li Техническая поддержка

			.button-next
				a(href="index.html#portfolio")
					| Перейти к следующим работам
					i.fas.fa-long-arrow-alt-right

	
