section.portfolio.section#portfolio.decor
	.container-fluid
		h2.heading-2.line-title Мои работы 
		.wrap-section
			//filter
			.filter-block
				ul.filter-block__block
					li.filter-block__element
						span.filter-block__button.filter(data-filter="all") Все работы
					li.filter-block__element
						span.filter-block__button.filter(data-filter=".landigPage") Landig page
					li.filter-block__element
						span.filter-block__button.filter(data-filter=".businessCardWebsites") Сайты визитки
					li.filter-block__element
						span.filter-block__button.filter(data-filter=".turnkey") Под ключ
					li.filter-block__element
						span.filter-block__button.filter(data-filter=".pattern") Шаблоны


				#folio
					.row
						//card
						.col-.col-sm-6.col-md-4.mix.landigPage(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/portfolio/small/f-1-0.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу 
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																| 
												p Одностраничный сайт 
													br
													|
													br
													| 
								figcaption.portfolio-item__title
									a(href="portfolio/studio-golden.html")
										| Landing page
						//card
						.col-.col-sm-6.col-md-4.mix.businessCardWebsites.turnkey(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/portfolio/small/f-2-0.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу 
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																| 
												p Сайт визитка 
													br
													| 
													br
													| Сайт мини гостиницы
								figcaption.portfolio-item__title
									a(href="#")
										| Сайт Визитка

						//card
						.col-.col-sm-6.col-md-4.mix.landigPage.turnkey(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/portfolio/small/f-3-0.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																|  
												p Одностраничный сайт 
													br
													| 
													br
													| Сайт Хостинг компании
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page
						//card
						.col-.col-sm-6.col-md-4.mix.landigPage.turnkey(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/portfolio/small/f-4-0.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу 
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																| 
												p Одностраничный сайт 
													br
													| 
													br
													| Сайт продажы криптовалют
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page





						//card
						.col-.col-sm-6.col-md-4.mix.pattern(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/placeholders/project_placeholder.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу 
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																| 
												p Одностраничный сайт 
													br
													| 
													br
													| Портфолио
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page
						//card
						.col-.col-sm-6.col-md-4.mix.pattern(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/placeholders/project_placeholder.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																|  
												p Одностраничный сайт 
													br
													| 
													br
													| Портфолио
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page
						//card
						.col-.col-sm-6.col-md-4.mix.pattern(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/placeholders/project_placeholder.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу 
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																| 
												p Одностраничный сайт 
													br
													| 
													br
													| Портфолио
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page
						//card
						.col-.col-sm-6.col-md-4.mix.pattern(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/placeholders/project_placeholder.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу 
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																| 
												p Одностраничный сайт 
													br
													| 
													br
													| Портфолио
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page
						//card
						.col-.col-sm-6.col-md-4.mix.pattern(data-myaorder="1")
							.portfolio-item
								figure.portfolio-item__img
									//hover
									.portfolio-item__image__hover
										img(src="img/placeholders/project_placeholder.jpg", alt="Мои работы")
										.blockText
											.hover-text
												.hover-desc 
													a(href='portfolio/studio-golden.html') Посмотреть работу
												span.viewing 
													a(href="#")
														i.far.fa-heart
															span.number
																|  
												p Одностраничный сайт 
													br
													| 
													br
													| Портфолио
								figcaption.portfolio-item__title
									a(href="#")
										| Landing page
		.wrap-btn
			+button-pholio('Связаться со мной','#order')



						


					 


