section.services.section#services
	.container-fluid
		h2.heading-2.line-title Услуги
		.wrapper-services
			.bl-left.fadeInLeft
				.servL Проектирование сайта
				.servL Дизайн 
				.servL HTML и CSS верстка
			.lineCenter
			.bl-center.fadeInDown
			.bl-right.fadeInRight
				.servR Программирование и интеграция с системой управления сайтом (CMS)
				.servR Тестирование сайта 
				.servR Передача сайта  

		.wrap-services
			a.popup-link(href="#order") 
				.card
					.row
						.col-md-3
							.card__img
								img(src="img/card/f-0.jpg", alt="card")
								.card__img__title 
									| Landing Page
						.col-md-9
							.card__text
								h4.card-title Landing Page
								p.card-desc  Landing page — это автономная интернет-страница, на которую потенциальный клиент попадает после клика по рекламному объявлению или в результате поиска. Лендинги достаточно широко используются в маркетинге в силу своего принципиального отличия от традиционного веб-сайта: если главная цель лендинга — совершение посетителем конкретного (целевого) действия, то веб-сайты имеют многоцелевой характер.
			
			a.popup-link(href="#order")
				.card
					.row
						.col-md-3.order-md-2
							.card__img
								img(src="img/card/f-0.jpg", alt="card")
								.card__img__title 
									| Сайт визитка
						.col-md-9.order-md-1
							.card__text
								h4.card-title Сайт визитка
								p.card-desc  Сайт-визитка — это своего рода виртуальная визитная карточка: небольшой сайт с информацией, которая позволяет получить представление о деятельности компании.

			a.popup-link(href="#order")
				.card
					.row
						.col-md-3
							.card__img
								img(src="img/card/f-0.jpg", alt="card")
								.card__img__title 
									| Промо сайт
						.col-md-9
							.card__text
								h4.card-title Промо сайт
								p.card-desc  Промо-сайт – это небольшой, но яркий, интересный, привлекающий внимание сайт. Основная задача промо-сайта – вывести на рынок новый бренд/ товар/ услугу. Промо-сайт – отличный инструмент для формирования имиджа компании.#[br]Часто промо-сайт создается на время проведения рекламной кампании, акции. Он содержит всю необходимую информацию о проходящем мероприятии: условия, сроки, место проведения, новости, on-line конференции, анонсы событий и другие сведения.

			a.popup-link(href="#order")
				.card
					.row
						.col-md-3.order-md-2
							.card__img.card__text
								img(src="img/card/f-0.jpg", alt="card")
								.card__img__title 
									| Тематический сайт
						.col-sm-9.order-md-1
							.card__text.card__text
								h4.card-title Тематический сайт
								p.card-desc  Тематический сайт - это сайт, статьи которого преимущественно посвящены одной теме. На сайте дачника в основном размещены статьи про дачу, рыболова — про рыбалку, автолюбителя — про обслуживание машины, путешественника — про путешествия и т.п.

			a.popup-link(href="#order")
				.card
					.row
						.col-md-3
							.card__img
								img(src="img/card/f-0.jpg", alt="card")
								.card__img__title 
									| Персональный сайт
						.col-md-9
							.card__text
								h4.card-title Персональный сайт
								p.card-desc  Персональный сайт представляет собой сайт какого-либо конкретного человека. Как правило, сайт такого типа отличается небольшим объемом, содержит в себе сведения личного или биографического характера или сведения об оказываемых этим человеком услугах и консультациях.#[br]Персональный сайт – это отличная возможность заявить о себе, своем деле или своих талантах. Под персональным сайтом могут подразумеваться сайты-визитки, сайты-портфолио, а также персональные блоги или личные сайты.
			


				





