section.skils.section.decor#skils
	.container-fluid
		.wrapper-skils
			h2.heading-2.line-title.mb-100 Мой опыт
			.row
				.col-lg-12
					.wrap-frontend
						.progress__title
							h3 Frontend
						.progress-front
							.progressBar
								.chart(data-percent="80") HTML5
							.progressBar
								.chart(data-percent="80") CSS3
							.progressBar
								.chart(data-percent="60") JS
							.progressBar
								.chart(data-percent="60") JQuery
				.col-lg-12
					.wrap-backend
						.progress__title
							h3 Backend
						.progress-back
							.progressBar
								.chart(data-percent="50") PHP
							.progressBar
								.chart(data-percent="40") MySQL
				.col-lg-12
					.wrap-workflow
						.progress__title
							h3 Workflow
						.progress-workflow
							.progressBar
								.chart(data-percent="80") Git
							.progressBar
								.chart(data-percent="80") NPM
							.progressBar
								.chart(data-percent="60") Gulp
