.contacts-top{
    //width: max-content;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    
    @media only screen and (min-width : 768px) {
    	margin-top: 10px;
		display: flex;
		height: 90/@em;
	}
}

.social{
	display: flex;
	
	a{
		margin-right: 5/@em; 
		font-size: 25/@em;
		color: #FFF;
		.transition (0.2s);

		&:last-child{
			margin-right: 0;
		}
		&:hover, &:focus{
			color: @icon-social;
		}
	}

	&--size{
		font-size: 25px;
		
		a{
			margin-right: 20px;
		}
	}
}

.phone{
	max-width: 157/@em;
	display: flex;
	color: #FFF;
	font-size: 22/@em;
	padding-bottom: 3px;
	border-bottom: 1px dotted #fff;
	margin-bottom: 10/@em;
}


