.head-title{ 
	width: 80%;
	display: flex;
	position: absolute;
	top: 22%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 60/@em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	color: #FFF;
	z-index: -1;
	
	@media only screen and (min-width : 768px) {top: 30%;}
}

.subtitle {
	color: #FFF;
	position: absolute;
	top: 30%;
	left: 10%;
	font-size: 40/@em;
	font-family: 'Roboto Slab', serif;
	z-index: -1;
	
	.hero-typed-text{
		font-size: 40px;
		font-weight: bold;
		border-bottom: 1px solid #fff;
	}

	@media only screen and (min-width : 768px) {top: 40%;}
}

.heading-2{
	font-size: 80/@em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	text-align: center;
	color: #000;
	position: relative;
	
	&--color{color: #FFF;}

	@media only screen and (min-width : 768px) {font-size: 50/@em;}
}

.about-text{
	font-size: 50/@em;
	padding-left: 20px;
	margin-right: 50px;	
	
	.attention{
		font-size: 18/@em;
		font-weight: bold;
		
		@media only screen and (min-width : 768px) {font-size: 18/@em;}
	}

	@media only screen and (min-width : 768px) {font-size: 24/@em;}
}

.progress__title {
	display: flex;
    align-items: center;
	width: 20%;
	height: 85px;
	text-align: center;
	font-size: 30/@em;
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
	margin-right: 20px;
	
	h3{
		font-weight: bold;
	}
}

.card-title{
	color: #60A4FC;
	text-align: center;
	font-size: 40px;
	padding-top: 15px;
	text-transform: uppercase;
	text-decoration: underline;
	
	@media only screen and (min-width : 768px) {font-size: 30px;}
}

.card-desc{
	font-size: 40px;
	text-indent: 20px;
	line-height: 1;
	letter-spacing: 1px;
	padding-left: 15px;
	padding-right: 15px;
	
	@media only screen and (min-width : 768px) {font-size: 20px;}
}

