.mfp-close-btn-in .mfp-close{display: none;}

#order{
	width: 100%;
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
    border-radius: 10px;
    background-color: #E8E8E8;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.4);
    margin-top: 200px;
    
    @media only screen and (min-width : 768px) {
		margin-top: auto;
		width: 700px;
	}
}

.decor-form{
	width: 100%;
	height: 50px;
	background-image: url(../img/arrow/decor.png);
	background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
}

.contact-form{margin-top: 30px;}

.form__title{
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 30px;
	
	@media only screen and (min-width : 768px) {font-size: 22px;}
	
	.fa-hand-point-right{margin-right: 10px;}
}

.wrap-inputText{
	width: 100%;
	display: flex;
    justify-content: space-around;
}

.inputTextLeft{width: 48%;}

.inputTextRight{width: 48%;}

.contact-form__label{
	width: 100%;
	display: block;
	font-size: 40px;
	padding-bottom: 5px;
 	font-weight: bold;
   
	@media only screen and (min-width : 768px) {
		font-size: 20px;
		font-weight: normal;
	}
}

span.star{color: #FF4A4A;}

.contact-form__input{
	width: 100%;
	display: block;
	font-size: 40px;
	padding: 15px;
	margin-bottom: 10px;
	
	@media only screen and (min-width : 768px) {
		padding: 6px;
		font-size: 18px;
	}
}

.contact-form__select{
	width: 100%;
	padding: 4px;
	display: block;
	font-size: 40px;
	padding: 22px;
	
	option{
			font-size: 18px;
		@media only screen and (min-width : 768px) {font-size: 18px;}
	}
	
	@media only screen and (min-width : 768px) {
		padding: 10px;
		font-size: 18px;
	}
}

.contact-form__radio{width: 10%;}

.wrap-contact-form__radio{
	display: flex;
	width: 100%;
}
.contact-form__radio-title{
	display: block;
	font-size: 35px;
	font-weight: bold;
	
	@media only screen and (min-width : 768px) {font-size: 20px;}
}

.wrap-contact-form__radioL,
.wrap-contact-form__radioR{
	width: 50%;
	
	.contact-form__radio-size{
		font-size: 33px;
		font-weight: bold;
		
		@media only screen and (min-width : 768px) {
			font-size: 18px;
			font-weight: normal;
		}
	}
}

.contact-form__textA-desc{
	font-size: 38px;
	
	@media only screen and (min-width : 768px) {font-size: 18px;}
}

.contact-form__textA{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	font-size: 35px;
	padding: 20px;
	
	@media only screen and (min-width : 768px) {
		font-size: 18px;
		padding: 10px;
	}
}

.mfp-bg{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed !important;
    background: #0b0b0b;
    opacity: 0.8;
}

 .mfp-wrap{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed !important;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}


