.navigation-top
	h3.mobile-text-nav Web - разработчик Курило Денис  
		i.fas.fa-mobile-alt.wow.infinite.tada(data-wow-duration="2s")
			a(href="tel:89788059869") 8(978) 805-98-69 
	.row
		.wrap-nav 
			.col-md-3
				.logo
					a(href="index.html#head", rel='m_PageScroll2id')
						img(src="img/header/logo.png", alt="logo")
			.col-md-7
				nav.nav
					.navigation__toggle
						i.fas.fa-bars
					ul.nav__list
						li.nav__list__item
							a(href="index.html#about-me") Обо мне
						li.nav__list__item
							a(href="index.html#portfolio") Портфолио
						li.nav__list__item
							a(href="index.html#skils") Опыт
						li.nav__list__item
							a(href="index.html#services") Услуги
						li.nav__list__item
							a(href="index.html#contacts") Контакты 
						.burger-menu__overlay
						
			.col-md-2
				.contacts-top
					.social
						a(href='https://vk.com/id8356952')(target="_blank")
							i.fab.fa-vk
						a(href='https://github.com/den2018?tab=repositories')(target="_blank")
							i.fab.fa-github
						a(href='https://www.instagram.com/kurilo__denis/')(target="_blank")
							i.fab.fa-instagram
						a(href='https://t.me/Denis_KDB')(target="_blank")
							i.fab.fa-telegram-plane
					.phone
						|8(978)805-98-69