// Vender scripts
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script window.jQuery ||document.write('<script src="libs/jquery/jquery-3.3.1.min.js"><\\/script>')
script(src='libs/typed.js/typed.js-master/lib/typed.min.js')
script(src='libs/pagescroll2id/jquery.malihu.PageScroll2id.js')
script(src='libs/mixitup2/jquery.mixitup.min.js')
script(src='libs/progressBar/jquery.easypiechart.min.js')
script(src='libs/wowjs/wow.min.js')
script(src='libs/popup/jquery.magnific-popup.min.js')
script(src='libs/jquery.validate/jquery.validate.js')
script(src='libs/jquery/jquery.maskedinput.min.js')

// User scripts
script(src='js/main.js')